* {
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgba(250, 235, 215, 0.514);
}

h1 {
    font-size: 60px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

a:hover {
    color: brown;
}

ul li {
    list-style-type: none;
    margin-left: -1.5em;
}

.home-page {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.recipe-card {
    max-width: 600px;
    margin: auto;
    background-color: rgba(240, 205, 140, 0.486);
    text-align: center;
    padding: 10px 50px;
}

.recipe-step li {
    text-align: left;
    margin: 12px 5px;
}

.home-link {
    font-size: 20px;
    padding: 4px;
    margin: 10px;
}